<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.candroidsample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <permission
        android:name="com.candroidsample.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.candroidsample.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.candroidsample.StartActivity"
            android:label="@string/title_activity_home_page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.candroidsample.CaldroidSampleActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.candroidsample.ShowTravelList"
            android:label="@string/title_activity_show_travel_list" >
        </activity>
        <activity
            android:name="com.candroidsample.ShowTravelDetail"
            android:label="@string/title_activity_show_travel_detail" >
        </activity>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.candroidsample" />
            </intent-filter>
        </receiver>

        <service android:name="com.candroidsample.GCMIntentService" />

        <activity
            android:name="com.candroidsample.HomePage"
            android:label="@string/title_activity_start" >
        </activity>
        <activity
            android:name="com.candroidsample.Register1"
            android:label="@string/title_activity_register1" >
        </activity>
        <activity
            android:name="com.candroidsample.Register2"
            android:label="@string/title_activity_register2" >
        </activity>
        <activity
            android:name="com.candroidsample.LoginPage"
            android:label="@string/title_activity_login_page" >
        </activity>
        <activity
            android:name="homedetail.FriendManagement"
            android:label="@string/title_activity_friend_management" >
        </activity>
        <activity
            android:name="com.candroidsample.ShowPushDetail"
            android:label="@string/title_activity_show_push_detail" >
        </activity>
    </application>

</manifest>